#
# external module configuration (disabled for now)
# davidm@snapgear.com
#

mainmenu "Module Configuration"

config MODULES
	bool
	default y

source ralink/Kconfig
source asix/Kconfig
source kszfeat/Kconfig
source GobiNet/Kconfig
source GobiSerial/Kconfig
source ocf/Kconfig

#source mymodule/Kconfig

