<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<config>
   <version>0.4</version>

   <system>
      <timezone>Australia - Queensland</timezone>
      <snmp>
         <protocol>UDP</protocol>
         <trapport>162</trapport>
      </snmp>
      <model>ACM5004-2</model>
      <bridge>
         <enabled>on</enabled>
      </bridge>
      <name>default-PSTN</name>
   </system>

   <console>
      <flow>None</flow>
      <ppp>
         <auth>None</auth>
         <dialer>
            <enabled>on</enabled>
            <initstring>AT&amp;F</initstring>
            <password>d3fau1tt</password>
            <phone1>0736378800</phone1>
            <username>default-PSTN</username>
         </dialer>
      </ppp>
      <speed>115200</speed>
      <ddns>
         <provider>none</provider>
      </ddns>
   </console>
   <services>
      <https>
         <enabled>on</enabled>
      </https>
      <ssh>
         <enabled>on</enabled>
      </ssh>
      <pingreply>
         <enabled>on</enabled>
      </pingreply>
      <http>
         <enabled>on</enabled>
      </http>
      <telnet>
         <enabled>on</enabled>
      </telnet>
   </services>

   <eventlog>
	   <server>
		   <type>None</type>
	   </server>
   </eventlog>

   <auth>
	   <type>Local</type>
   </auth>
   <interfaces>
      <lan>
         <device>
            <type>ks8692</type>
         </device>
         <disabled>on</disabled>
      </lan>
      <wlan>
         <disabled>on</disabled>
      </wlan>
      <wan>
         <address>10.2.30.254</address>
         <ddns>
            <provider>none</provider>
         </ddns>
         <media>Auto</media>
         <mode>static</mode>
         <netmask>255.255.255.0</netmask>
      </wan>
   </interfaces>
</config>
