menu "Asix USB Network Drivers"

config MODULES_ASIX_AX88172A
  	tristate "ax88172a"
	---help---
	  Vendor driver for the ASIX AX88172A. This is tailored
	  specifically for the OpenGear IM4216-34 where it is in
	  configured in MAC mode with an external MII interface to
	  an realtek RTL8309 PHY.

endmenu
