<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<config>
   <version>0.4</version>
   <system>
      <timezone>USA - Eastern</timezone>
      <snmp>
         <protocol>UDP</protocol>
         <trapport>162</trapport>
      </snmp>
      <model>CM4008</model>
   </system>
   <console>
      <flow>None</flow>
      <ppp>
         <auth>None</auth>
      </ppp>
      <speed>115200</speed>
   </console>
   <services>
      <https>
         <enabled>on</enabled>
      </https>
      <ssh>
         <enabled>on</enabled>
      </ssh>
      <pingreply>
         <enabled>on</enabled>
      </pingreply>
   </services>
   <eventlog>
      <server>
         <type>None</type>
      </server>
   </eventlog>
   <auth>
      <type>Local</type>
   </auth>
   <powersupplies>
      <total>1</total>
   </powersupplies>
   <groups>
      <group1>
         <description>Default system super user group</description>
         <name>root</name>
      </group1>
      <total>6</total>
      <group2>
         <description>Provides users with unlimited configuration and management privileges</description>
         <name>admin</name>
      </group2>
      <group3>
         <description>Provides users with minimal privileges</description>
         <name>nobody</name>
      </group3>
      <group4>
         <description>Group for users created automatically via network authentication</description>
         <name>netgrp</name>
      </group4>
      <group5>
         <description>Group to allow serial access to NUT UPS service</description>
         <name>serial</name>
      </group5>
      <group6>         <description>Provides users with basic management privileges</description>
         <name>users</name>
</group6>
   </groups>
</config>
